.title-text {
  padding: 0 16px;

  h1,
  p,
  pre {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: initial;
  }

  &__content {
    position: relative;
    padding: 16px 0;
  }

  .divider {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 200%;
      height: 200%;
      transform: scale(.5);
      transform-origin: 0 0;
      content: "";
      pointer-events: none;
      border-bottom: 1px solid #eee;
    }
  }

  &-center {
    text-align: center;
  }
}
